<!DOCTYPE html>
<html>
  {{template "head"}}
  {{template "header"}}
  <body>
    {{template "index-hero"}}
    {{template "index-features"}}
    {{template "index-plugins"}}
  </body>
  {{template "footer"}}
</html>
