{{define "index"}}

<!DOCTYPE html>
<html>
{{template "head" . }}
{{template "header" . }}

<body>
  {{template "index-hero" . }}
  {{template "index-features" . }}
  {{template "index-info" . }}
  {{template "index-testamonials" . }}
  <a class="scropll-top-btn" id="scrollTop" href="#" style="text-decoration: none"><i class="fa fa-arrow-up"></i></a>
</body>
{{template "footer" .}}

</html>

{{ end }}