<!DOCTYPE html>
<html>
  {{template "head"}}
  {{template "header"}}
  <body style="margin: 0; background: rgba(255, 255, 255, 1)">
    <div class="container-center-horizontal">
      <div class="index screen">
        <div class="initial-info-C61RwL">
          <div class="initial-info-area-WHyw1I">
            <div class="gradient-button-5m6pFw smart-layers-pointers">
              <img
                class="container-jh5kxz"
                src="public/img/container-3@2x.png"
              />
              <div class="button-text-i15131447-jh5kxz valign-text-middle">
                Sign up
              </div>
            </div>
            <div class="landing-text-5m6pFw">
              The Modern Solution to Plugin Management
            </div>
            <div class="no-more-days-sp-ver-to-the-moon-5m6pFw">
              No more days spent manually downloading and updating your Bukkit
              plugins. Handle all installs and updates automatically. Streamline
              server management and scale your server to the moon.
            </div>
          </div>
          <img class="haystack-WHyw1I" src="public/img/haystack@2x.png" />
        </div>
        <div class="overlap-group-C61RwL">
          <div class="cards-4eduM0">
            <div class="icon-card-GWA0l3">
              <div class="icon-container-wlwc24"></div>
              <div class="title-i65334-wlwc24 rubik-light-black-39-5px">
                Easy To Use
              </div>
              <div
                class="description-i65333-wlwc24 valign-text-middle rubik-light-black-23px"
              >
                Works out of the box, allowing you to manage all of your plugins
                with simple commands or through the official plugin.
              </div>
            </div>
            <div class="icon-card-1ayVcN">
              <div class="icon-container-dcprdM"></div>
              <div class="title-i66334-dcprdM rubik-light-black-39-5px">
                Secure By Design
              </div>
              <div
                class="description-i66333-dcprdM valign-text-middle rubik-light-black-23px"
              >
                We handle plugin security so you can worry about more important
                things.
              </div>
            </div>
            <div class="icon-card-Oh1RYo">
              <div class="icon-container-4461oG"></div>
              <div class="title-i64334-4461oG rubik-light-black-39-5px">
                For Devs and Users
              </div>
              <div
                class="description-i64333-4461oG valign-text-middle rubik-light-black-23px"
              >
                Developers can speed up or automate their deployment so that
                users can automate their installations and updates
              </div>
            </div>
          </div>
          <div class="code-4eduM0">
            <div class="group-etXBM3">
              <img class="vector-WpXqyF" src="public/img/vector-5@2x.png" />
              <img class="vector-aIxVFT" src="public/img/vector-4@2x.png" />
            </div>
          </div>
          <div class="shield-4eduM0">
            <img class="vector-XIrtwq" src="public/img/vector-6@2x.png" />
            <img class="vector-JpeJjo" src="public/img/vector-7@2x.png" />
            <img class="vector-fgTyBJ" src="public/img/vector-8@2x.png" />
            <img class="vector-QxSFIS" src="public/img/vector-9@2x.png" />
          </div>
          <div class="cat-4eduM0">
            <img class="vector-Dhbjmx" src="public/img/vector-10@2x.png" />
            <img class="vector-ibv7Dw" src="public/img/vector-11@2x.png" />
            <img class="vector-2OImJx" src="public/img/vector-12@2x.png" />
            <img class="vector-r2BTxT" src="public/img/vector-13@2x.png" />
            <img class="vector-NgiMPp" src="public/img/vector-14@2x.png" />
            <img class="vector-dYKLid" src="public/img/vector-15@2x.png" />
            <img class="vector-o34aSm" src="public/img/vector-16@2x.png" />
            <img class="vector-g4Wx4L" src="public/img/vector-17@2x.png" />
            <div class="group-Dhbjmx">
              <div class="flex-col-Y7VvrD">
                <img class="vector-ty0ZDq" src="public/img/vector-21@2x.png" />
                <img class="vector-pALwTS" src="public/img/vector-22@2x.png" />
                <img class="vector-SuqfaF" src="public/img/vector-23@2x.png" />
              </div>
              <div class="group-Y7VvrD">
                <img class="vector-SLgInQ" src="public/img/vector-24@2x.png" />
                <img class="vector-IZIGIS" src="public/img/vector-25@2x.png" />
                <img class="vector-z2U1sv" src="public/img/vector-26@2x.png" />
              </div>
            </div>
            <img class="vector-9BZxqP" src="public/img/vector-18@2x.png" />
            <img class="vector-HZqXVx" src="public/img/vector-19@2x.png" />
            <img class="vector-pv5d8n" src="public/img/vector-20@2x.png" />
          </div>
        </div>
        <div class="big-title-C61RwL animate-enter3" show-on-scroll>
          <img class="vector-ur2BPh" src="public/img/vector-3@1x.png" />
          <div class="text-ur2BPh">
            tldr; We store plugins, you use one of our tools, your life is
            easier... a LOT easier
          </div>
          <div class="title-ur2BPh">How Does It Work?</div>
          <div class="gradient-button-ur2BPh smart-layers-pointers">
            <img class="container-jUUwEd" src="public/img/container-2@2x.png" />
            <div class="button-text-i14481447-jUUwEd valign-text-middle">
              More Info?
            </div>
          </div>
        </div>
        <div class="info-one-C61RwL animate-enter2" show-on-scroll>
          <div class="step-one-JxVhUo">
            <div class="title-J5ZiFf">Central Repository</div>
            <div class="description-J5ZiFf rubik-light-fuscous-gray-41-5px">
              All plugins are stored in a public and easily accessible
              repository for anyone to upload to and download from
            </div>
          </div>
          <div class="image-step-one-JxVhUo">
            <img class="vector-3cbn7J" src="public/img/vector-2@1x.png" />
            <img class="repository-3cbn7J" src="public/img/repository@1x.png" />
          </div>
        </div>
        <div class="info-two-C61RwL animate-enter1" show-on-scroll>
          <div class="info-two-image-x7Jti1">
            <img class="vector-pn2BCY" src="public/img/vector-1@1x.png" />
            <img class="terminal-pn2BCY" src="public/img/terminal@2x.png" />
          </div>
          <div class="step-two-x7Jti1">
            <div class="title-o72KfY">Professional Grade Tooling</div>
            <div class="overlap-group1-o72KfY">
              <div class="gradient-button-hyi2Bw smart-layers-pointers">
                <img
                  class="container-y7VGhg"
                  src="public/img/container-1@2x.png"
                />
                <div class="button-text-i15201447-y7VGhg valign-text-middle">
                  See Tools
                </div>
              </div>
              <div
                class="use-one-of-our-tral-repository-hyi2Bw rubik-light-fuscous-gray-41-5px"
              >
                Use one of our tools to get access to the central repository
              </div>
            </div>
          </div>
        </div>
        <div class="info-three-C61RwL animate-enter" show-on-scroll>
          <div class="step-three-qbxHXA">
            <div class="overlap-group1-XFxTJs">
              <div class="description-xEtJum rubik-light-fuscous-gray-41-5px">
                Automagically keep all of your plugins up to date and updates
                published; save time!
              </div>
              <div class="title-xEtJum">Automate Your Workflow</div>
            </div>
            <div class="gradient-button-XFxTJs smart-layers-pointers">
              <img class="container-DKeNJx" src="public/img/container@2x.png" />
              <div class="button-text-i16251447-DKeNJx valign-text-middle">
                Get Started
              </div>
            </div>
          </div>
          <div class="info-three-image-qbxHXA">
            <img class="vector-vPu7uM" src="public/img/vector@1x.png" />
            <img
              class="step-three-image-vPu7uM"
              src="public/img/step-three-image@2x.png"
            />
          </div>
        </div>
      </div>
    </div>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(
          document.getElementsByTagName("*")
        );
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY =
            this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>
  </body>
  {{template "footer"}}
</html>
