{{define "plugin"}}
<!DOCTYPE html>
<html>
{{template "head" .}}
{{template "header" .}}

<body>
  <div class="container">
    {{if .}}
    {{.Markdown}}
    {{ end }}
  </div>
</body>
{{template "footer" .}}

</html>

{{ end }}